*{
    margin: 0;

}
h1{
    font-size:50px;
    color: darkgray;
    text-align: center;
}
p{
    font-size: 14px;
}
.redHeading
{
    color: red;
    font-size: 20px;
}
.testClassName
{
    color: #008b5a;
    size: 50px;
    font-family: "Fira Code Retina";
    font-style: italic;
}
#p_6{
    font-size:70px;
    font-style: oblique;
}
.newDivClass{
    font-size: 25px;
}
.border1{
    border:1px solid black;
}
.dis{
    display:none;
}

.divStyle {
    border: 5px solid red;
    width: 200px;
    height: 50px;
}
.dobackground{
    background-color: darkorange;
}

#canibal{
    display:none;
}
li{
    display: inline-block;
    list-style: none;
    font-family: C059;
    font-style: italic;
    border: 5px solid red;
    width: 200px;
    height:50px;
    text-align: center;
    text-transform: uppercase;
    size: 50px;
    font-size: 20px;
}

body{
    display: inline-block;
}
header{
    height: 120px;
    background-color: aquamarine;
}

nav > ul > li
{
    display :inline-block;
    border: 1px solid blue;
    padding: 10px;
}